<div class="image" fxLayoutAlign="center">
  <div class="image-list">
    <div class="item">
      <img src="/src/assets/services/44.svg" alt="">
      <span>Quality</span>
    </div>
    <div class="item">
      <img src="/src/assets/services/41.svg" alt="">
      <span>Proficiency</span>
    </div>
    <div class="item">
      <img src="/src/assets/services/45.svg" alt="">
      <span>Experience</span>
    </div>
    <div class="item">
      <img src="/src/assets/services/42.svg" alt="">
      <span>Operational Efficiency</span>
    </div>
    <div class="item">
      <img src="/src/assets/services/46.svg" alt="">
      <span>Reliability</span>
    </div>
    <div class="item">
      <img src="/src/assets/services/43.svg" alt="">
      <span>Process</span>
    </div>
    <div class="round">
      <img class="circle" src="/src/assets/services/37.svg" alt="" style="transform: translate(-50%, -50%);">
      <img class="bl-rr" src="/src/assets/services/38.svg" alt="" style="transform: translate(-50%, -50%);">
      <img class="lc-rc" src="/src/assets/services/39.svg" alt="" style="transform: translate(-50%, -50%);">
      <img class="tl-br" src="/src/assets/services/40.svg" alt="" style="transform: translate(-50%, -50%);">
    </div>
  </div>
</div>
