<mat-toolbar class="fixed-top">
  <span fxFlex fxLayoutAlign="start">
    <a class="navbar-brand mobile-logo" mat-button routerLink="/home">
      <img src="../../../assets/pindi_modified.png" alt="Pindi Supplies">
    </a>
  </span>
  <span fxFlex fxLayoutAlign="center space-evenly">
    <a mat-button routerLink="/our-team" routerLinkActive="router-link-active"><h1>Our Team</h1></a>
    <a mat-button routerLink="/about-us" routerLinkActive="router-link-active"><h1>About</h1></a>
    <a mat-button routerLink="/portfolio" routerLinkActive="router-link-active"><h1>Portfolio</h1></a>
    <a mat-button routerLink="/services" routerLinkActive="router-link-active"><h1>Services</h1></a>
    <a mat-button routerLink="/contact" routerLinkActive="router-link-active"><h1>Contact</h1></a>
  </span>
  <span fxFlex></span>

  <a>
    pindi@tangani.co.za
    <br>
    <h6>+27 78 445 2989</h6>
  </a>
</mat-toolbar>
