div.story {
  font-family: 'times new roman', serif;}
#description-a, #heading-a {
  font-size-adjust: 0.58;
  text-align: justify;
  padding: 1%;
}

#description-c, #description-b, #heading-b, #heading-c {
  font-size-adjust: 0.58;
  text-align: justify;
  padding: 1%;
  color: aliceblue;
}

#about {
  display: flex;
  // padding: 1%;
}

#services, #head {
  background-color: black;
  color: aliceblue;
  font-size: 1.5em;
  padding: 1%;
}
