<app-top-image></app-top-image>


<div id="about" fxLayoutAlign="space-between">
  <div class="item" fxFlex="50">
    <h2 id="heading-a">ABOUT US</h2>
    <div id="description-a">
      Pindi Solutions is an expert electrical engineering services consulting firm based in Johannesburg, South Africa. We understand the nuances of the electrical systems and align this with industry leading knowledge of technology. We specialize in the cost effective rearchitecting of our clients’ technology, with specific emphasis on reusing what isn’t broken yet meeting the business needs of now and the future.
      <br><br>
      Our senior staff provide technology leadership and business insights and are backed up by project teams delivering system implementations, system developments, training and project management. We bring detailed knowledge of handling electrical systems, risk assessment and manage the lifecycle of pur products to ensure fail safe performance.
    </div>
  </div>
  <div class="item" fxLayout="column" style="background-color: #013d79">
    <div>
      <h2 id="heading-b">OUR MISSION</h2>
      <div id="description-b">
        To serve our clients by providing the highest quality professional services that address their business issues. We attract, recruit, and retain the most knowledgeable and passionate professionals, and provide them a collaborative culture that enables them to thrive professionally and personally.
        <br>
      </div>
    </div>
    <div>
      <h2 id="heading-c">OUR VISION</h2>
      <div id="description-c">
        To be the trusted capital markets technology consulting provider recognized by our clients for delivering excellence while conducting business ethically.
        <br>
      </div>
    </div>

  </div>
</div>

<div id="services" fxLayout="column" fxLayoutAlign="center center">
  <h2 id="head">SERVICE OFFERING</h2>
  <p>We provide functional and technical consulting services throughout the lifecycle of electrical engineering technology implementations.</p>
</div>


<app-services></app-services>

<br>

<div id="niche" fxLayout="column" fxLayoutAlign="center">
  <div fxLayoutAlign="center">
    <h2>WHY CHOOSE US</h2>
  </div>
  <div fxLayoutAlign="center">
    <br>
    <p>
      We can listen carefully to our customers and appreciate their time, so we haven’t got similar projects.
      <br>
      Each detail is important to create a perfect comfort in the building.
    </p>
  </div>
  <div class="image-list">

  </div>
  <app-why-choose-us></app-why-choose-us>

</div>

