/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$black: black;
$grayish: #292c2f;
$red: #b3060c;
$yellow: #FFCB02;
$white: #ffffff;
$gainsboro: #dcdcdc;
$green: #00AB66;
$purple:#800080;
$excel: #003300;
$brightRed: red;

.basic-container {
  padding: 50px;

  a {
    text-decoration: none;
    color: yellow;
  }
}

.version-info {
  color: black;
  font-size: 8pt;
  position: fixed;
  bottom: 0;
  right: 0;
}


